<h3>Manage Phrases Panel</h3>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati repellendus asperiores fugiat eligendi eius
  mollitia in esse, inventore, atque doloribus delectus laudantium ratione voluptatem neque quod! Reiciendis aspernatur,
  iure quod alias nulla a suscipit! Sapiente cumque obcaecati distinctio facere autem maxime doloremque error fuga
  repudiandae magnam ducimus, assumenda illo perspiciatis sint vero facilis placeat. Saepe vel hic possimus corrupti.
  Quisquam autem maiores in debitis dolorem magnam ullam nemo voluptatibus ipsum fuga provident ad harum beatae eos
  voluptate minus blanditiis, quo vitae aspernatur ratione, soluta labore obcaecati. Ratione repudiandae natus tempore
  unde cum quidem, reprehenderit necessitatibus minus repellendus itaque minima omnis.</p>
<p>Magnam nihil qui consequuntur obcaecati a pariatur iste ab, expedita animi, quod, eaque saepe harum magni et possimus
  ut autem laboriosam? Adipisci repudiandae omnis veritatis. Incidunt magnam eos sapiente numquam tenetur omnis,
  aspernatur ipsa quia nihil, quibusdam exercitationem facilis! Iusto ratione, rem placeat ipsam pariatur commodi
  tempora laudantium, nam fugit a sequi id veniam error, dolores quaerat culpa non sed recusandae. Rerum, repudiandae
  provident? Quos, laudantium esse asperiores doloribus temporibus numquam fugit tenetur dicta. Commodi numquam
  quibusdam aliquam iste ad? Quibusdam consequatur molestiae fuga error omnis aliquam dolores iste repellat quisquam ab,
  quod veritatis sequi, natus quasi voluptate quo voluptas!</p>
<p>Officia, sint fugit aspernatur ut dolores delectus laborum labore nulla accusantium necessitatibus eius dicta
  asperiores deserunt enim animi! Blanditiis veritatis dolor accusamus ad iusto a distinctio nam exercitationem, quasi
  deleniti perspiciatis facere ex facilis reiciendis? Quaerat architecto quae, sequi deleniti dignissimos optio! Aperiam
  perferendis reprehenderit aut ea laborum temporibus molestias. Maiores corporis ipsum consequatur exercitationem cum,
  odit nesciunt quibusdam soluta ipsa cupiditate assumenda, aperiam optio? Nihil possimus ullam, quidem assumenda
  recusandae optio? Reprehenderit dolore voluptate libero facilis architecto. Eaque placeat, alias repellat vel nemo
  saepe necessitatibus. Eligendi alias incidunt sit quam, molestiae deserunt neque fuga? Aliquam ducimus rerum impedit
  suscipit.</p>